@charset "UTF-8";
*{
  box-sizing: border-box;
}

.inputForm{
  border-radius: .5rem;
}

.priceStock{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.imgDetail{
  width: 20rem;
  height: 20rem;
  object-fit: fill;
  border-radius: 2rem;
}

.navLink{
  margin-right: .5rem;  
  font-size: large;
  font-weight: 400;
}
/*BASE*/
.imgLogo{
  width: 2rem;
  height: 2rem;
  border-radius: .4rem;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  color: rgba(255, 255, 255, 0.822);
}

.btn {
  color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(255, 255, 255);
  background-color: rgb(36, 35, 35);
}
.btn:hover {
  color: rgb(36, 35, 35);
  border: 0.1rem solid rgb(36, 35, 35);
  background-color: rgb(255, 255, 255);
}
/* .btn:active {
  background-color: #ffffff;
  box-shadow: 0 5px rgb(36, 35, 35);
  transform: translateY(4px);
} */

/*FOOTER*/
/* .app{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: -60px; /* Adjust the value as needed 

} */
.app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}


main {
  flex: 1;
}

.footer{
  margin-top: auto;;
}

footer .redes__logos__logo {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 23rem;
}

/*HEADER*/
header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.7rem;
}
header ul li a:hover {
  transform: translateY(0.2rem);
  color: yellow;
}
header .logoTitulo {
  margin-top: 0.5rem;
}

.card{
  box-shadow: 10px 10px 10px rgb(38, 3, 54);
  height: 25rem;
  border-radius: .5rem;
}

.card:hover{
  transform: scale(0.99);
  .img{
    filter:grayscale(85%)
  }
}

.card_body{
  display:flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
}

.img{
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.imgTable{
  width: 3rem;
  height: 3rem;
}

.cartProductName{
  font-size: 1rem;
  font-weight:bold;
}

@media(min-width: 768px){
  .cardsContainer{
    justify-content: start;
    margin-left: 3rem;
  }

  .imgDetail{
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 2rem;
  }

  .imgTable{
    width: 6rem;
    height: 7rem;
  }

  .cartProductName{
    font-size: 2rem;
    font-weight:normal;
  }
  
}

@media(min-width: 990px){
  .cardsContainer{
    justify-content: start;
    margin-left: 9rem;
  }

}

@media(min-width: 1200px){
  .cardsContainer{
    margin-left: 6rem;
  }
}

@media(min-width: 1400px){
    .cardsContainer{
      margin-left: 2rem;
  }
}
